@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%);
}

.container {
  display: flex;
  flex-flow: column;
  width: 80vmin;
  text-align: center;
  height: 90vmin;
  background: #161a2b;
  border-radius: 10px;
  position: relative;
}

h1 {
  color: aliceblue;
  padding-top: 30px;
  font-size: 35px;
}

.todo-form {
  padding-top: 20px;
}

.todo-input {
  border: 2px solid #5d0cff;
  background: transparent;
  border-radius: 4px 0 0 4px;
  font-size: 25px;
  padding: 6px;
  outline: none;
  color: #fff;
  width: 60%;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.add-btn {
  font-size: 25px;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  padding: 8px;
  border: none;
  text-align: center;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.todo-list{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}
.todo-items{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding:  6px;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
}
.todo-items:nth-child(4n+1){
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-items:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-items:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.logo-delete{
  cursor: pointer;
}
.logo-edit{
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.footer{
  text-align: center;
  width: 100%;
  color: #fff;
  bottom: 0px;
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vmin;
    height: 70vmax;
  }

  h1 {
    padding-top: 35px;
    font-size: 25px;
  }
  .todo-form {
    padding-top: 20px;
  }
  
  .todo-input {
    font-size: 15px;
    padding: 6px;
    width: 50%;
  }
  
  
  .add-btn {
    font-size: 15px;
    padding: 8px;
  }
  .todo-list{
    margin-top: 20px;
  }
  .todo-items{
    font-size: 15px;
    padding:  6px;
    width: 90%;
    margin: 4px;
  }
}